body,*{
    margin: 0;
    padding: 0;
}
section{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    
}
section .container{
    width:80%;
    height: 700px;
    display: flex;
    align-items: center;

}
section .container .contop{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;

}
section .container .contop .sign{
    width: 50%;
    height:430px;
    background-color: rgb(255, 250, 250);
    box-shadow: 2px 2px 7px rgb(78, 76, 76);
    border-radius: 8px;
    display: flex;
    align-items: center;
    
    
    
}
section .container .contop .sign fieldset{
    display: flex;
    height:390px;
    width: 100%;
    justify-content: center;
    padding: 20px;
    border: none;
    align-items: center;
}

section .container .contop .sign fieldset form button{
    text-align:center;
    font-size: 20px;
    background-color: rgb(13, 145, 13);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    margin-left: 40%;
    
}

section .container .contop .sign fieldset form input{
  padding-top: 10px;  
  padding-right: 65px;
  padding-bottom:7px ;
  padding-left: 5px;
  border: 1px solid rgb(207, 207, 240);
  border-radius: 5px;
  background-color: rgb(236, 236, 241);

}

section .container .contop .sign fieldset form #email,#password{
    width: 85%;
    
}

section .container .contop .sign fieldset legend{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}   
  section .container .contop .sign fieldset form .male,.woman,.special{
  margin: 25px;
  margin-left:0;
  border: 1px solid rgb(207, 207, 240);
  padding: 10px;
  border-radius: 5px;
}
section .container .contop .sign form .date,.gender,.male,.woman,.special{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


section .container .contop .sign form #name{
    outline: none;
}
section .container .contop .sign form #surname{
    outline: none;
}
section .container .contop .sign form #date{
    outline: none;
}
section .container .contop .sign form #date:focus{
    border: 1px solid blue;
}
section .container .contop .sign form #name:focus{
    border: 1px solid blue;
}
section .container .contop .sign form #surname:focus{
    border: 1px solid blue;
}
section .container .contop .sign form #email{
    outline:none;
}
section .container .contop .sign form #password{
    outline: none;
}
section .container .contop .sign form #email:focus{
    border: 1px solid blue;
}
section .container .contop .sign form #password:focus{
    border: 1px solid blue;
}