body,*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: rgb(241, 240, 240);
}
section{
    width: 100%;
    height:700px;
    display: flex;
    justify-content: center;
}
section .container{
    width: 70%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section .container .contop{
    width: 50%;
    height: 245px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 7px rgb(214, 214, 218);
    
}
section .container .contop h3{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
border-bottom: 1px solid rgb(181, 181, 182);
padding-bottom: 10px;
}
section .container .contop h5{
    font-size: 19px;
    color:black ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
section .container .contop .input {
    width: 100%;
}
section .container .contop .input button{
    float: right;
    margin: 10px;
  padding: 15px;
}
section .container .contop .input #email{
    width: 95%;
    padding: 10px;
    border: 1px solid rgb(181, 181, 182);
    border-radius: 8px;
    outline: none;
}
section .container .contop .input #email:focus{
    border: 1px solid rgb(181, 181, 182);
}

section .container .contop .input .search{
    background-color:rgb(0, 110, 255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
section .container .contop .input .cancel{
    border: none;
    color:black;
    background-color: rgb(199, 194, 194);
    border-radius: 5px;
    cursor: pointer;

}
