body,*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(255, 250, 250);
}
section{
    width: 100%; 
    height:900px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signin{
    width: 70%;
    height:700px;
    
}
section .signin .signtop{
    width: 100%;
    height: 370px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .signin .signtop .logo h1{
    color: rgb(0, 110, 255);
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section .signin .signtop .logo h5{
    font-size: 30px;
    color: rgb(56, 55, 55);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}
section .signin .signtop .logo{
    display: flex;
    flex-direction: column;
    width: 48%;
}
section .signin .signtop .form form #email{
     padding: 15px;
    border:1px solid rgb(206, 208, 211);
    border-radius: 8px;
    width: 80%;
    outline: none;
    

}
section .signin .signtop  .form form #password{
    border: 1px solid rgb(206,208,211);
    padding: 15px;
    border-radius: 8px;
    width: 80%;
    outline: none;
    
   
}
section .signin .signtop  .form form .lb{
    font-size: 25px;
    padding: 8px;
    border:1px solid rgb(152, 154, 156) ;
    border-radius: 8px;
    background-color:rgb(0, 110, 255);
    color: white;
    width: 80%;
}
section .signin .signtop  .form form .cb{
    border: 1px solid rgb(152, 154, 156) ;
    border-radius: 8px;
    background-color:rgb(29, 175, 42) ;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 60%;
    padding-top: 15px;
    padding-bottom: 15px;
}
section .signin .signtop .form form .cb:hover{
    background-color: green;
}

section .signin .signtop .form form .cb a{
color: white;
text-decoration: none;
}
section .signin .signtop  .form{
    background-color: white;
    box-shadow:2px 2px 6px rgb(192, 183, 183);
    width: 40%;
    height: 328px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    
}
section .signin .signtop .form form a{
    text-align: center;
    color: blue;
    text-decoration: none;
}
section .signin .signtop  .form form{
    display: flex;
    height: 280px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.signin p{
    float: right;
    margin-right: 35px;
}
section .signin .signtop .form form #email:focus{
    border: 1px solid blue;
   
}
section .signin .signtop .form form #password:focus{
border: 1px solid blue;
}